{% extends 'basebe.html.twig' %}

{% block title %}Hello ComadBeController!{% endblock %}

{% block body %}
<!--/ Le bloc affichage de l'image de fond de page  /-->
  <!-- Dans background-image vous pouvez mettre votre photo -->
  <div id="home" class="intro route bg-image" style="background-image: url(/img/Battery-Charging74SD.gif)">
    <div class="overlay-itro"></div> <!-- Fin du bloc DIV Overlay -->
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">74SD-Technologie</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Les Batteries Externes, Votre Commande Sécuriser, Art Design, Copyright ©Décembre-2022-2023</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div> <!-- Fin du bloc DIV Container -->
      </div> <!-- Fin du bloc DIV table Cell-->
    </div> <!-- Fin du bloc DIV Intro Content -->
  </div> <!-- Fin DIV id HOME -->
  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row"> <!-- En-tête du bloc Compétences -->
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
                Votre Commande
            </h3>
            
          </div>
        </div>
      </div>
    </div> 
 <!--/ Section Batterie externe Star /-->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Nos Batteries externes
              </h3>
              <p class="subtitle-a">
                Différents produits
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{asset('/img/baterie-74.webp')}}" data-lightbox="gallery-mf" title="batterie-74SD 25,00€">
                <div class="work-img">
                  <img src="{{asset('/img/baterie-74.webp')}}" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">à 25,00€ seulement</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Décembre-2022-2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{asset('/img/Batterie-Magn1-74.webp')}}" data-lightbox="gallery-mf" title="batterie-74SD 50,00€">
                <div class="work-img">
                  <img src="{{asset('/img/Batterie-Magn1-74.webp')}}" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">à 50,00€ seulement</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Décembre-2022-2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{asset('/img/Batterie-Magn2-74.webp')}}" data-lightbox="gallery-mf" title="batterie-74SD 89,00€">
                <div class="work-img">
                  <img src="{{asset('/img/Batterie-Magn2-74.webp')}}"  alt="" class="img-fluid img3">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">à 89,00€ seulement</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Décembre-2022-2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{asset('/img/batterie-solar-74.jpg')}}" data-lightbox="gallery-mf" title="batterie-74SD  60,00€">
                <div class="work-img">
                  <img src="{{asset('/img/batterie-solar-74.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">à  60,00€ seulement</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Décembre-2022-2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{asset('/img/Batterie-MagPerso-74.webp')}}" data-lightbox="gallery-mf" title="batterie-74SD  80,00€">
                <div class="work-img">
                  <img src="{{asset('/img/Batterie-MagPerso-74.webp')}}" alt="" class="img-fluid img4">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">à  80,00€ seulement et personnalisable</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Décembre-2022-2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{asset('/img/Batterie-Magn3-74.webp')}}" data-lightbox="gallery-mf" title="batterie-74SD 45,00€">
              <div class="work-img">
                  <img src="{{asset('/img/Batterie-Magn3-74.webp')}}" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">à 45,00€ seulement</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Décembre-2022-2023</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class="ion-ios-plus-outline"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  <!--/ Section Batterie externe End /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/exosquellette-74.gif)">
    <div class="overlay-mf"></div>
{% endblock %}
